.card {
    background-color: #FAFBFE;
    padding: .5em;
    width: fit-content;
    border-radius: .5em;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    color: #ABB6C7;
    text-align: center;
}

.active {
    background: #2AA7FF14;
    border: 2px #2AA7FF solid;
    border-radius: .5em;
}

.active .name {
    color: #2AA7FF;
    font-weight: bold;
}

