.search {
    background-color: white;
    border-radius: 1em;
    width: 70%;
    margin: auto;
    box-shadow: 0 10px 10px rgb(231, 231, 231);
    padding: 2em;
    position: relative;
    top: -5vh;
    left: 0vw;
}

.searchAtHome {
    top: -25vh;
}

.searchAtBookings {
    width: 50%;
    top: -5vw;
    left: 20vw;
}

.title {
    position: relative;
    top: -10vh;
    left: 10vw;
    color: white;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.input {
    width: 100%;
    border: 1px solid rgb(161, 161, 161);
}

.button {
    height: 100%;
}

.homeSelector {
    text-align: center;
    padding: 2em 0 0;
    color: rgb(72, 72, 72);
}

.homeSelector h4 {
    margin-bottom: 2em;
}

.categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
}

.inputWrapper {
    width: 100%;
    position: relative;
}

.inputDropdown {
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 6px 5px rgb(198, 198, 198);
    width: 100%;
    border-radius: 0 0 .25em .25em;
    max-height: 300px;
    overflow-x: auto;
}

.stateItem:hover {
    cursor: pointer;
    background-color: rgb(207, 207, 207);
}