.container {
    padding: 0em 10em 0;
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    align-items: center;
    height: 620px;
}


.store {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 2em 0 0;
}

.cmt {
    margin: 1em 0;
}

.vector {
    position: absolute;
    left: -5vw;
    height: 200px;
}

.download {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    flex-direction: column;
    height: 70%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-size: 2.5em;
    flex-wrap: wrap;
    color: #1B3C74
    
}


.medify {
    color: #2AA8FF;
}